#!/usr/bin/env python

SECRET_KEY = 'MY_REALLY_SECRET_KEY'

DEBUG = True

# Database
# https://docs.djangoproject.com/en/1.8/ref/settings/#databases
DATABASES = {
	'default': {
		'ENGINE': 'django.db.backends.mysql',
		'NAME': 'mydatabase',
		'USER': 'mydatabaseuser',
		'PASSWORD': 'mypassword',
		'HOST': 'mysql',
		'PORT': '3306'
	}
}
